.expand {
    max-height: 1000px;
    -webkit-transition: max-height .25s linear;
    transition: max-height .25s linear;
}

.collapse {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .25s linear;
    transition: max-height .25s linear;

    padding:0;
}

.hidden {
    display: none;
}

.responsive-text {
    display: none;
}

.l-main {
    width: 100%;
}

.l-main-centre {
    max-width: 1200px;
    margin: 0 auto;
}

.l-main-centre-narrow {
    max-width: 900px;
}

.l-login-column {
    width: 100%;
}

.l-login-column-inner {
    padding: 0;
}

.gap {
    padding: 10px 10px;
}
.h-gap {
    padding-left: 10px;
    padding-right: 10px;
}
.h-gap-right {
    padding-right: 10px;
}
.h-gap-left {
    padding-left: 10px;
}

.v-gap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.v-gap-top {
    padding-top: 10px;
}

.v-gap-bottom {
    padding-bottom: 10px;
}

.v-margin {
    margin: 10px 0;
}

.v-margin-bottom {
    margin: 0 0 10px 0;
}

.v-margin-small-bottom {
    margin: 0 0 5px 0;
}

.h-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.h-list-item {
    float: left;
}

.h-list-item-right {
    float: right;
}

.v-list {
    padding: 0;
    margin: 0;
}

.v-list-item {

}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.cf:after {
    content: ' ';
    clear: both;
}